currentflowsnodered.json
[{"id":"d6e77b01.404428","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"d6e77b01.404428","name":"","active":false,"console":"false","complete":"false","x":730,"y":200,"wires":[]},{"id":"3809dba0.a055d4","type":"ibmiot in","z":"d6e77b01.404428","authentication":"apiKey","apiKey":"f55d2709.e03c78","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":200,"wires":[["232a1894.9e9fd8","8495cbc7.4ba0f8","8aefc72c.69de68","ead2f1f7.8fe13"]]},{"id":"bd731738.988fe8","type":"http in","z":"d6e77b01.404428","name":"","url":"/data1","method":"get","upload":false,"swaggerDoc":"","x":150,"y":380,"wires":[["9b73b101.59876"]]},{"id":"ecd5ffc2.c157e","type":"http response","z":"d6e77b01.404428","name":"","statusCode":"","headers":{},"x":670,"y":380,"wires":[]},{"id":"9b73b101.59876","type":"function","z":"d6e77b01.404428","name":"data","func":"msg.payload={'Temperature':global.get(\"Temperature\"),'Humidity':global.get(\"Humidity\"),'Moisture':global.get(\"Moisture\"),'data1':global.get(\"data\")}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":380,"wires":[["ecd5ffc2.c157e"]]},{"id":"76810a83.27a364","type":"function","z":"d6e77b01.404428","name":"setdata","func":"\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":500,"wires":[["c9e6730c.617c2","6ef0b950.ac8db8","ffeb4b47.8c5c18"]]},{"id":"d280a835.cf8278","type":"http in","z":"d6e77b01.404428","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":160,"y":500,"wires":[["76810a83.27a364"]]},{"id":"c9e6730c.617c2","type":"http response","z":"d6e77b01.404428","name":"","statusCode":"","headers":{},"x":710,"y":500,"wires":[]},{"id":"6ef0b950.ac8db8","type":"debug","z":"d6e77b01.404428","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":460,"wires":[]},{"id":"232a1894.9e9fd8","type":"function","z":"d6e77b01.404428","name":"Humidity","func":"global.set(\"Humidity\",msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["f2f2649a.0d0d98"]]},{"id":"8495cbc7.4ba0f8","type":"function","z":"d6e77b01.404428","name":"Temperature","func":"global.set(\"Temperature\",msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["f2f2649a.0d0d98"]]},{"id":"8aefc72c.69de68","type":"function","z":"d6e77b01.404428","name":"Moisture","func":"global.set(\"Moisture\",msg.payload.Moisture)\nmsg.payload=msg.payload.Moisture\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["f2f2649a.0d0d98"]]},{"id":"ead2f1f7.8fe13","type":"function","z":"d6e77b01.404428","name":"data","func":"global.set(\"data\",msg.payload.data)\nmsg.payload=msg.payload.data\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["f2f2649a.0d0d98"]]},{"id":"ffeb4b47.8c5c18","type":"ibmiot out","z":"d6e77b01.404428","authentication":"apiKey","apiKey":"f55d2709.e03c78","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":600,"y":540,"wires":[]},{"id":"f55d2709.e03c78","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]